<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="false">
  <!-- When we set to true, we had to include the dd.maps.com server where (app or proxy?) are hosted. 
  If set to false, we didn't need to include dd.maps.com below-->
    <serverUrls>
        <serverUrl url="//services.arcgisonline.com"
                   matchAll="true"/>
      <serverUrl url="//services.arcgis.com"
                   matchAll="true"
                 />
      <serverUrl url="//www.arcgis.com"
                   matchAll="true"
                 clientId="8fdCLmYQY767cMsC"
                 clientSecret="0884f0f7899945e5a4848f52464d3bf3"/>
      <serverUrl url="//static.arcgis.com"
                   matchAll="true"
                 clientId="8fdCLmYQY767cMsC"
                 clientSecret="0884f0f7899945e5a4848f52464d3bf3"/>
      <serverUrl url="//services1.arcgis.com"
                 matchAll="true"
                 clientId="8fdCLmYQY767cMsC"
                 clientSecret="0884f0f7899945e5a4848f52464d3bf3"></serverUrl>
      <serverUrl url="http://services1.arcgis.com"
                 matchAll="true"
                 clientId="8fdCLmYQY767cMsC"
                 clientSecret="0884f0f7899945e5a4848f52464d3bf3"></serverUrl>
				 
      <serverUrl url="//server.arcgisonline.com"
                 matchAll="true"></serverUrl>

      <serverUrl url="//dd.maps.com/"
                 matchAll="true"></serverUrl>

      <serverUrl url="//kwmi.maps.com/"
                 matchAll="true"></serverUrl>
    </serverUrls>

</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
